@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
}
*{
	margin:0;
	padding:0;
}
.containerfooter{
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
	display: flex;
    gap: 100px;
	left: 493px;
    position: relative;
    top: 50px;
}
.footerICON{
    display: flex;
	position: relative;
	right: 100px;
	width: 500px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1C1C1C;
    padding: 70px 0;
}
.footer-col{
	text-align: center;
}
.footer-col h4{
	display: flex;
	font-size: 30px;
	color: #763EDD;
	margin-bottom: 60px;
	justify-content: center;
	font-weight: 500;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 30px;
}
.footer-col ul li a{
	display: flex;
	font-size: 20px;
	text-transform: capitalize;
	justify-content: center;
	text-decoration: none;
	font-weight: 300;
	color: #FFFFFF;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #894afd;
}
.footer-collast{
	display: flex;
}
.footer-collast img{
	display: flex;
	position: relative;
	top: 115px;
	left: 290px;
    
}
.footer-collast h4{
	display: flex;
	font-size: 30px;
	text-transform: capitalize;
	justify-content: center;
	text-decoration: none;
	position: relative;
	left: 525px;
	font-weight: 500;
	color: #894afd;
	transition: all 0.3s ease;
}
.footerbot{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 500;
}
.line1{
	display: flex;
	position: relative;
	left: 50px;
}
.line2{
	display: flex;
	position: relative;
	left: 328px;
}