@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Major+Mono+Display&display=swap");

:root {
  --color-bg: #121626;
  --color-main: #763edd;
  --color-secondary: #242c48;
  --color-tertiary: #303b61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: var(--color-bg);
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.4;
}
.a-login {
  color: #fff;
  text-decoration: none;
}
.search-filter {
  padding-top: 4rem;
  padding-left: 5rem;
}

label {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}
input {
  padding: 1rem;
  font-size: 1.6rem;
  max-width: 25rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-tertiary);
  color: #fff;
}
nav {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
}

.logo-flazz {
  width: 50px;
  height: 50px;
}

.logo-box {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
}

.logo-name {
  width: 85px;
  height: 45px;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

nav .navbar .menu {
  display: flex;
  list-style: none;
}

.navbar .menu li {
  margin: 0 20px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px 5px;
  transition: padding 0.3s, border-bottom 0.2s;
}

.navbar .menu li a:hover {
  border-bottom: 2.5px solid var(--color-main);
  padding: 12px 5px;
}

nav .button-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}

button {
  border: none;
  padding: 5px 25px;
  font-size: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.login-button {
  background-color: var(--color-main);
}

.search-button {
  background-color: transparent;
  border: 1px solid #fff;
}

.login-button:hover {
  background-color: var(--color-main);
  opacity: 75%;
}

.search-button:hover {
  border-color: #f3f3f3;
  opacity: 75%;
}

input::placeholder {
  padding: 1rem;
  color: #fff;
  opacity: 20%;
}

.filter {
  padding-left: 4rem;
}
.filter button {
  margin: 5rem 1rem;
  padding: 1.2rem 0rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10rem;
  background: var(--color-main);
  color: #fff;
  cursor: pointer;
  width: 12rem;
  transition: background 0.3s ease;
}

.filter button:hover {
  background: #5b32a3;
}

.banner-flazz img {
  width: 100vw;
  height: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 2rem;
}

.content-box {
  background: var(--color-main);
  border-radius: 1rem;
  width: 45rem;
  height: 30rem;
  padding-bottom: 7rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date-info {
  padding: 0rem 1.5rem;
  padding-bottom: 1.8rem;
  position: relative;
  font-size: 1.2rem;
  color: #c9f518;
}

.content-info {
  padding-left: 1.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-info p {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.content-info p:first-child {
  font-weight: bold;
  font-size: 1.3rem;
}
.load-more {
  text-align: center;
}
.load-more button {
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem 0rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background: var(--color-main);
  color: #fff;
  cursor: pointer;
  width: 11rem;
  transition: background 0.3s ease;
}

.load-more button:hover {
  background: #5b32a3;
}
