@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Major+Mono+Display&display=swap");
:root {
  --color-bg: #121626;
  --color-main: #763edd;
  --color-secondary: #242c48;
  --color-tertiary: #303b61;
  --color-input: #aaacb3;
}
.search-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: 10px;
  z-index: 10000;
}

.search-form {
  display: flex;
  gap: 1rem;
}

.search-form label svg {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.search-form input {
  width: 50rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.search-result {
  margin-top: 1rem;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.result-list {
  text-decoration: none;
  list-style: none;
}

.result-list ul:not(:last-child) {
  margin-bottom: 1rem;
}

.result-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  gap: 1rem;
}

.result-item a img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

.overlay-search {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-container.hidden,
.overlay-search.hidden {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.4;
  background: var(--color-bg);
  position: relative;
}

.message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 50rem;
}

.check {
  display: inline-block;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background: var(--color-main);
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.heading {
  font-weight: 800;
  font-size: 7rem;
  margin-bottom: -1rem;
}

.paragraph {
  line-height: 1.2;
  margin-bottom: 7rem;
}

.btn,
.btn:visited,
.btn:active {
  color: #fff;
  background: var(--color-main);
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 5px;
}
