@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Major+Mono+Display&display=swap");
:root {
  --color-bg: #121626;
  --color-main: #763edd;
  --color-secondary: #242c48;
  --color-tertiary: #303b61;
  --color-input: #aaacb3;
  --tw-shadow: 0 2.5rem 5rem -1.2rem rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: var(--color-bg);
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.4;
  position: relative;
}
nav {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
}

.logo-flazz {
  width: 50px;
  height: 50px;
}

.logo-box {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
}

.logo-name {
  width: 85px;
  height: 45px;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 90%;
  margin: auto;
}

nav .navbar .menu {
  display: flex;
  list-style: none;
}

.navbar .menu li {
  margin: 0 20px;
}

.navbar .menu li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px 5px;
  transition: padding 0.3s, border-bottom 0.2s;
}

.navbar .menu li a:hover {
  border-bottom: 2.5px solid var(--color-main);
  padding: 12px 5px;
}

nav .button-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}

button {
  border: none;
  padding: 5px 25px;
  font-size: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.login-button {
  background-color: var(--color-main);
}
.a-login {
  color: #fff;
  text-decoration: none;
}

.search-button {
  background-color: transparent;
  border: 1px solid #fff;
}

.login-button:hover {
  background-color: var(--color-main);
  opacity: 75%;
}

.search-button:hover {
  border-color: #f3f3f3;
  opacity: 75%;
}
.shadow {
  box-shadow: var(--tw-shadow) !important;
}

.img-hero {
  width: 100%;
  height: 55rem;
  /* background-image: url(../img/wp5154897-granger-mobile-legend-wallpapers.jpg);
  background-position: center;
  background-size: cover; */
}

.img-hero img {
  width: 100%;
  height: 105%;
  display: block;
  object-fit: fill;
}

/* Judul Game */
.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-6rem);
}

.game-title img {
  width: 23rem;
  height: 23rem;
  display: block;
  border-radius: 1rem;
  transform: rotateY(20deg);
  /* box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.4); */
}

.game-title__info {
  align-self: flex-end;
}

.game-title__name {
  display: block;
  font-size: 3rem;
  font-weight: 600;
}

.game-title__company {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

.game-title__contact {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  margin-top: 2rem;
}

.game-title__contact--row {
  display: flex;
  flex: 0 0 16rem;
  align-items: center;
  margin-left: var(--ml);
}

.game-title__contact span {
  font-size: 1.3rem;
}

.game-title__contact--row:not(:first-child) {
  gap: 0.5rem;
}

.game-title__contact svg {
  width: var(--w);
  height: var(--h);
  fill: var(--f);
  margin-right: var(--mr);
}

/* topup */
.topup {
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
  position: relative;
  overflow: visible;
}

/* Cara topup */
.topup__cara {
  flex: 0 0 40rem;
  margin-right: 3.5rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2rem;
  align-self: start;
}

.topup__text {
  background: var(--color-secondary);
  border-radius: 0.7rem;
  padding: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topup__text-p {
  font-weight: 700;
}

.topup__icon {
  fill: #fff;
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
}

.topup__icon.rotate {
  transform: rotate(270deg);
}

.topup__step {
  background: #303b61;
  padding: 1.2rem;
  border-radius: 1rem;
  display: block;
}

.topup__step.hidden {
  display: none;
}

.topup__step-text {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: smaller;
}

.list {
  counter-reset: list-number;
  margin-left: 1rem;
  font-size: smaller;
}

.list__item::before {
  counter-increment: list-number;
  content: counter(list-number) ". ";
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__row {
  margin-bottom: 3rem;
  overflow: hidden;
  border-radius: 0.7rem;
  background: var(--color-tertiary);
}

.form__top {
  background: var(--color-secondary);
}

.form__top--num {
  background: var(--color-main);
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
}

.form__top--name {
  font-weight: 700;
}

.form__content {
  padding: 4rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.form__content--row {
  display: flex;
  gap: 1rem;
}
.form__label {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  margin-top: -1rem;
}

.form__input {
  border: none;
  padding: 0.8rem 1rem;
  background: var(--color-input);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #fff;
  max-width: 50rem;
}

.form__input--qty {
  border: none;
  padding: 0.8rem 1rem;
  background: var(--color-input);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #fff;
  flex: 0 0 85%;
}

.form__input:focus,
.form__input--qty:focus {
  outline: 2.5px solid var(--color-main);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Items topup */
.form__items--title {
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.form__items--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.form__items--item {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.form__items--item p {
  font-size: smaller;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.form__items--item p:first-child {
  margin-bottom: 0.3rem;
}

.form__items--item img {
  display: block;
  width: 4rem;
  height: 4rem;
}

/* Quantity */
.form__qty-btn {
  background: var(--color-main);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  flex: 1;
  color: #fff;
  font-size: 2.5rem;
}

.form__qty-btn--noactive {
  cursor: auto;
  background: rgba(118, 62, 221, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

/* Select Payment */
.form__payment {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.form__payment--selected {
  outline-offset: 0.3rem;
  outline: 3px solid var(--color-main);
  /* box-shadow: 0 0 2rem rgba(118, 62, 221, 0.6), 0 0 3rem rgba(118, 62, 221, 0.6),
    0 0 4rem rgba(118, 62, 221, 0.6); */
  /* box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3), 0 0 2rem rgba(255, 255, 255, 0.3); */
}

.form__payment:hover {
  outline-offset: 0.3rem;
  outline: 3px solid var(--color-main);
}

.form__payment:not(:last-child) {
  margin-bottom: 2rem;
}

.form__payment--method {
  background: #7a7a7a;
  padding: 1rem;
}

.form__payment--photo {
  background: #fff;
  display: flex;
  padding: 0.6rem;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.form__payment--photo img {
  display: block;
  height: 4rem;
}

/* Promo code */
.form__input--promo {
  border: none;
  padding: 0.8rem 1rem;
  background: var(--color-input);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #fff;
  flex: 0 0 90%;
  outline: none;
}

.form__btn--apply {
  border: none;
  background: var(--color-main);
  font-weight: 600;
  padding: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  flex: 1;
  cursor: pointer;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
}

/* cart */
.form__row-cart {
  background: none !important;
  border-radius: 0 !important;
  background-color: var(--color-bg) !important;
}

.form__row-cart.active {
  position: sticky;
  bottom: 1rem;
}

.form__cart {
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  padding: 1.7rem;
  margin-bottom: 1.5rem;
}

.form__cart span {
  margin: 0 auto;
  display: inline-block;
}

.form__cart-item {
  display: flex;
  align-items: center;
}

.form__cart-item img {
  display: block;
  width: 7rem;
  height: 7rem;
  border-radius: 6px;
  margin-right: 1rem;
}

.cart__price {
  color: #facc15;
}

.cart__nominal,
.cart__qty {
  font-weight: 400;
  font-size: 1.4rem;
}

.form__cart-details--row:first-child {
  margin-bottom: 0.4rem;
}
.btn-submit {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  background: var(--color-main);
  color: #fff;
  padding: 1rem 0;
  cursor: pointer;
}

/* Message */
.message {
  position: fixed;
  top: -30%;
  left: 50%;
  transform: translate(-50%);

  font-size: 1.2rem;
  padding: 1rem;
  background: #2c303a;
  border: 1px solid #47cf73;
  border-radius: 1rem;
  animation: fade-in 4s infinite ease-out;
  animation-play-state: paused;
}

@keyframes fade-in {
  10%,
  90% {
    top: 1%;
  }
  100% {
    top: -10%;
  }
}
